/* For index.html */
h1{
    color: purple;
    font-size: 50px;
}

 h2{
    font-size: 30px;
 }

body{
    text-align: center;
}

p{
    font-size: 25px;
}

img{
    border-radius: 15px;
    height: 350px;
    width: 320px;
}

.backgroundColor{
    background-color: rgb(131, 167, 240);
}

a:link{
    color: rgb(8, 8, 167);
}

a:visited{
    color: purple;
}

a:hover{
    color: red;
}

