/* For CR related html files */
h1{
    text-align: center; 
    color: rgb(66, 9, 9);
    font-size: 50px;
}

h3{
    text-align: center; 
    color: rgb(66, 9, 9);
    font-size: 35px;
}

li{
    font-size: 25px;
}

img{
    height: 300px;
    width: 400px;
}

.backgroundColor{
    background-color: rgb(176, 81, 81);
}

a:link{
    color: rgb(8, 8, 167);
}

a:visited{
    color: purple;
}

a:hover{
    color: red;
}