/* For CR related html files */
h1{
    text-align: center; 
    color: rgb(66, 9, 9);
    font-size: 50px;
}

h2{
    text-align: center; 
    color: rgb(83, 20, 20);
    font-size: 35px;
}

ol, ul, .specificA{
    font-size: 25px;
}

li{
    margin-bottom: 10px;
}

img{
    align-items: center;
    height: 300px;
    width: 400px;
}

.backgroundColor{
    background-color: rgba(165, 42, 42, 0.338);
}

a:link{
    color: brown;
}

a:visited{
    color: purple;
}

a:hover{
    color: red;
}